* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* removed the . from header to make it an element instead of a class */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    
}

/* removed header */
h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* changed div to nav so it is calling the correct element */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* changed div to nav */
header nav ul li {
    display: inline-block;
    margin-left: 25px;  
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* changed the image height to 500px to make the page more visually appealing */
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* added color to this class to consolidate and deleted the unnecessary classes in the html */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* merged all the benefits h3 stylings to avoid repetition */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
  
}
/* added a bottom margin to the paragraphs inside the benefits class to create needed spacing between those sections */
.benefits p {
    margin-bottom: 30px;
}

/* merged the image classes*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* merged the following classes since they had the same styling */
.SEO, .online, .social {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* merged all content images to avoid repetition */
.content img {
max-height: 200px;
}

/* merged all content h2 stylings into one to avoid repetition */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* removed the . to call the footer element instead of the class */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* removed the . to call the footer element instead of the class */
footer h2 {
    font-size: 20px;
}
